<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base de datos</title>
</head>
<body>

     <h1>Lista de mis clientes</h1>

     {% for clientes in lista_clientes %}
        <ul>

            <li> Nombre: {{clientes.nombre}}, Dirección: {{clientes.direccion}}, numero_dni: {{clientes.numero_dni}}</li>

        </ul>
    {% endfor %}
    
</body>
</html>